.App {
  text-align: center;
  font-family: Arial, sans-serif;
}
/* canvas {
  border: 1px solid black;

}

.header {
  margin-bottom: 20px;
}

.search-box {
  margin: 20px;
} */

/* .image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.image-card {
  position: relative;
  border: 1px solid #ddd;
  padding: 10px;
}

.image-card img {
  width: 100%;
  height: auto;
}

.caption-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.caption-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.caption-container input {
  padding: 10px;
  margin-bottom: 20px;
}

.caption-container button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
} */
